*{
    padding: 0;
    margin: 0;
}

.container-fluid{
    margin: 30px 0 10px ;
    padding: 0 2% 0;
    justify-content: center;
    text-align: center;
}

.nav-links{
    list-style: none;
}


.nav-links li{
    display: inline;
    padding: 0px 10px;
}

.nav-links li a{
    position: relative;
    color: #AAA492;
    text-decoration: none;
    font-family: 'Almarai', sans-serif;
    
}


.nav-links li a:hover::after{
    content: "";
    position: absolute;
    left: 25%;
    right: 25%;
    bottom: -5px;
    border: 1px solid #1C7947;
    color: #1C7947;
    
}

.nav-links li a:hover{
    text-shadow: 0px 0px 3px #17D7A0;
}

.search-box{
    background-color: #EDEDED;
    border-radius: 40px;
    
    
}

.search-box:hover > .search-txt{
    width: 240px;
    padding: 0 6px;
}

.search-box:hover > .search-btn{
    background: #EDEDED;
}

.search-btn{
    float: left;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    transition: 0.4s;
    color: #1C7947;
    text-decoration: none;
}

.search-txt{
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: black;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
}

.icon-header , .icon{
    color: #1C7947;
    text-shadow: 0 0 3px #17D7A0;
    padding: 0% 5px;
}

#slider{
    padding: 0 2%;
}
#slider img{
    width: 100%;
    margin-left: 2%;
    border-radius: 25px;
    
}


.list-title h2{
    margin: 50px 50px 20px;
    color: #1C7947;
    font-family: 'Almarai';
}

.row {
    overflow: auto;
    cursor: pointer;
}

.row img{
    width: 300px;
    height: 500px;
    padding: 5% 2%;
    border-radius: 35px ;
}