*{
    padding: 0;
    margin: 0;
    font-family: 'Almarai', sans-serif;
}

.container{
    width: 100%;
    padding-left: 8%;
    padding-right: 8%;
    margin-top: 2%;
    box-sizing: border-box;
    overflow: hidden;
}

.navbar{
    display: flex;
    align-items: center;
}

.navbar .icon{
    margin-left: 10px;
    padding-left: 5px;
    color: #1C7947;
    text-shadow: 0 0 3px #17D7A0;
}

nav{
    flex: 1;
    text-align: center;
}


nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 30px;
}

nav ul li a{
    text-decoration: none;
    color: #AAA492;
    position: relative;
}


nav ul li a:hover::after{
    content: "";
    position: absolute;
    left: 25%;
    right: 25%;
    bottom: -5px;
    border: 1px solid #1C7947;
    color: #1C7947;
    
}

nav ul li a:hover{
    text-shadow: 0px 0px 3px #05b684;
    color: #1C7947;
}

.search-box{
    background-color: #EDEDED;
    border-radius: 40px;
    text-align: center;
    
}

.search-box:hover > .search-txt{
    width: 240px;
    padding: 0 6px;
}

.search-box:hover > .search-btn{
    background: #EDEDED;
}

.search-btn{
    float: left;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    transition: 0.4s;
    color: #1C7947;
    text-decoration: none;
}

.search-txt{
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: black;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
}


#slider{
    padding: 0 2%;
}
#slider img{
    width: 100%;
    margin-left: 2%;
    border-radius: 25px;
    box-shadow: 0 0 5px #1C7947;
    
}

.most {
    background-color: #0f996d;
    height: 500px;
    padding: 2% 5%;
    margin: 10% 0;
}

.most .mostReading-img img{
    width: 80%;
    height: 400px;
    margin-right: 10%;

}

.most .mostReading-txt {
    
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    padding: 10% 0;
    line-height: 1.5;
    text-align: center;
}

.most .mostReading-btn{
    border-radius: 20px;
    padding: 2% 9%;
    font-weight: bold;
    display: inline-flex;
    outline: none;
    background-image: linear-gradient(to right ,rgb(12, 235, 138),rgb(28, 121, 71) );
}

.list-title h2{
    margin: 50px 50px 20px;
    color: #1C7947;
}

.row {
    overflow: auto;
    cursor: pointer;
}

.row img{
    width: 300px;
    height: 500px;
    padding: 5% 2%;
    border-radius: 35px ;
}


#footer{
    background-color: #0f996d ;
    height: 470px;
    padding: 5% 0 0 0;
}



.footer-img img{
    width: 100%;
    height: 400px;
    padding: 0;
    margin-bottom: 0;
    

}

.booker-img img{
    width: 50%;
    height: 200px;
    color: #ffffff;
    text-align: center;
    margin-right: 150px ;
}

.booker-txt{
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    margin-right: 100px ;
    padding-bottom: 6rem;
}

.copyright{
    color: #ffffff;
    text-align: center;
    direction: ltr;
    margin-right: 100px ;
}

.footer-icon {
    color: #ffffff;
    text-align: left;
    font-size: 20px;
    flex: 1;
    padding: 15px ;    
}

.footer-icon .contactus{
    color: #ffffff;
    text-align: left;
    font-size: 2rem;
    font-weight: bold;
    padding: 0 7%;
}


@media only screen and (max-width:700px)  { 

    .most {
        background-color: #0f996d;
        height: 700px;
        padding: 2% 5%;
        margin: 10% 0;
    }


    .mostReading-txt{
        flex-basis: 100%;
    }

    .mostReading-img img{
        width: 77%;
        margin-bottom: 50px;
    }



}
